.row.justify-content-center
  .col-md-4
    = image_tag @user.avatar.url
    .mt-2
      = @user.email
    .mt-4
      - if signed_in?
        = render 'stats'
        = render 'follow_form' if current_user.id != @user.id && signed_in?
