.row.justify-content-center
  .col-md-4
    - provide(:title, @title)
    %div
      .h3
        - provide(:title, @title)
        = @title
      .mb-1
        %section
      = render 'stats'

    .mt-3
      .user_avatars
      - @users.each do |user|
        = user.email
        %br/
